<h1>Motels</h1>

<ul>
 <% @motels.each do | motel | %>
   <li><%= link_to motel.name, motel_path(motel) %></li>
 <% end %>
</ul>



<ul>
  <% @motels.each do |motel| %>
    <li>
      <%= motel.name %>
      <%= link_to "Delete", motel, method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
